* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(night2.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  font-family: "poppins", sans-serif;
}

.blue {
  width: 300px;
  height: 300px;
  border: 0.5px solid grey;
  text-align: center;
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.purple {
  text-align: center;
  margin: 25px auto 25px;
  font-size: 45px;
  color: grey;
}

.yellow {
  margin: 4px;
  width: 70%;
  height: 25px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 2px 10px;
  border-radius: 10px;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.white {
  margin: 15px 20px;
}

.red2 {
  width: 50%;
  height: 25px;
  background: rgba(128, 128, 128, 0.4);
  outline: none;
  border: none;
  border-radius: 10px;
}

.white :hover {
  background-color: grey;
}
